.App {
  background-image: url("../Resources/IntroBgImage.png");
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background-size: cover;
  background-position: center;
  padding: 46px;
}